<% if car.errors.any? %>
  <div>Errors prevented this car from being saved:</div>
  <ul>
    <% car.errors
          .filter_map { |error| error.full_message if %i[brand size rating].include?(error.attribute) }
          .each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% car.variants.each_with_index do |variant, i| %>
      <% if variant.errors.any? %>
        <li>
          <div>Variant #<%= i + 1%> Errors:</div>
          <ul>
            <% variant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= form_with model: car do |form| %>
  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
    <% car.errors.full_messages_for(:rating).each do |message| %>
      <%= message %>
    <% end %>
  </div>

  <div data-controller="variants-form"  
       data-variants-form-index-value="<%= car.variants.size %>">
    <h4>Variants:</h4>
    <div data-variants-form-target="container">
      <%= form.fields_for :variants do |variant_form| %>
        <div data-variants-form-target="fieldset">
          <h5>Variant # <%= variant_form.index + 1 %> </h5>
          <div class="field">
            <%= variant_form.label :name %>
            <%= variant_form.text_field :name %>
          </div>
          <div class="field">
            <%= variant_form.label :color %>
            <%= variant_form.text_field :color %>
          </div>
        </div>
      <% end %>
    </div>

    <div><a href='#' data-action="variants-form#addVariant">Add a variant</a></div>
    <div><a href='#' data-action="variants-form#deleteVariant">Delete a variant</a></div>
  </div>

  <%= form.submit %>
<% end %>
